#clockContainer {
    position: relative;
    margin: auto;
    height: 48vw;
    /*to make the height and width responsive*/
    width: 48vw;
    background: url(clock_background.png) no-repeat;
    /*setting our background image*/
    background-size: 100%;
}
  
#hour,
#minute,
#second {
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}
  
#hour {
    width: 3%;
    height: 25%;
    top: 25.2%;
    left: 50%;
    opacity: 0.99;
    background: blue;
}
  
#minute {
    width: 2%;
    height: 30%;
    top: 20.7%;
    left: 50%;
    opacity: 0.99;
    background: red;
}
  
#second {
    width: 1%;
    height: 40%;
    top: 11%;
    left: 50%;
    opacity: 0.99;
}